@model Category

@{
    ViewData["Title"] = "Update Category";
}

<div class="card shadow border-0 mt-4">
    <partial name="PartialViews/CreateEditPartialView" />
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}